body {
    background-color: hsl(30, 38%, 92%);
}

.container {
    display: flex;
    align-items: center;
    
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.text {
    display: flex;
    flex-direction: column;
}